body {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
}

.div {
    font: italic small-caps bold 12px/12px verdana;
    margin: 10px;
    border: 1px solid black;
    font-size: 20px;
    height: 80px;
    width: 33.3%;
}
.first{
    color: cadetblue;
    clear: both;
    background-color: black;
    font-size: 20px;
}

.second {
    margin: auto;
}

.secondDiv {
    color: cadetblue;
    clear: both;
    background-color: linen;

}
.third {
    clear: both;
    color: cadetblue;
    background-color: lightcyan;
}

.inp {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 100%;
}